{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <script>
        function validateForm() {
            var login = document.forms["login_form"]["username"].value;
            var password = document.forms["login_form"]["password"].value;
            if (login == null || login == "") {
                $('#username').tooltip({title: "This field must be filled", placement: "bottom"});
                $('#username').tooltip('show');
{#                Уничтожаем тултип после того как его однажды скрыли#}
                $('#username').on('hidden.bs.tooltip', function () {
                    $('#username').tooltip('destroy');
                });
{#                Добавляем класс к нашему диву и он станет красным#}
                $('#username_div').addClass('has-error');
                return false;
            }
            if (password == null || password == "") {
                $('#password').tooltip({title: "This field must be filled", placement: "bottom"});
                $('#password').tooltip('show');
                $('#password').on('hidden.bs.tooltip', function () {
                    $('#password').tooltip('destroy');
                });
                $('#password_div').addClass('has-error');
                return false;
            }
        }
    </script>

    <h1>Please Login:</h1>
    {% if form.errors %}
        {% include 'gsm_tracker/error_message_invalid_login.html' %}
    {% endif %}
    <form name="login_form" method="post" action="{% url 'login' %}"  class="form-inline" onsubmit="return validateForm()">
        {% csrf_token %}
        {% if form.username.errors %}
            <div class="form-group has-error">
                <label for="username" class="control-label">Username: </label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
        {% else %}
            <div id="username_div" class="form-group">
                <label for="username" class="control-label">Username: </label>
                <input onclick="$('#username').tooltip('hide');" oninput="$('#username_div').removeClass('has-error');" type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
        {% endif %}
        {% if form.password.errors %}
            <div class="form-group has-error">
                <label for="password" class="control-label">Password: </label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        {% else %}
            <div id="password_div" class="form-group">
                <label for="password" class="control-label">Password: </label>
                <input onclick="$('#password').tooltip('hide');" oninput="$('#password_div').removeClass('has-error');" type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
        {% endif %}
        <button type="submit" class="btn btn-default">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}