<!-- Modal -->
<div class="modal fade bs-modal-lg" id="ModalWindow" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalLabel">Login failed</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> Your username and password didn't match. Please try again.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#ModalWindow').modal();
    });
</script>