{% extends "gsm_tracker/base.html" %}
{% load staticfiles %}

{% block title %}
    Car GSM Tracker
{% endblock %}
{% block content %}
    <h1>Car GSM Tracker</h1>
    {% if error_message %}
        {{ error_message|safe }}
        {% include 'gsm_tracker/error_message_modal.html' %}
    {% endif %}

    <form method="post" class="form-inline">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Start!" />
    </form>
    <br>
    {% if geolocations|length > 0 %}
        <div id="map" style="width:900px;height:700px;"></div>
        {#        <script type="text/javascript" src="{% static "gsm_tracker/googlemaps.js" %}"></script>#}
        <script type="text/javascript">
            var geolocations = {{ geolocations }};

            function initMap() {
                var centerLatLng = new google.maps.LatLng(43.2223029, 76.929633);
                var mapOptions = {
                    zoom: 12,
                    center: centerLatLng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                geolocations.forEach(function (s) {
                    console.log(s);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(s[0], s[1]),
                        title: 'Toytota Harrier B2323N'
                    });
                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                    });
                });
                var tripPlanCoordinates = [];
                {# Iterating through geolocations list of lists and create JS array with dicts #}
                {% for lat, lng in geolocations %}
                    tripPlanCoordinates.push({'lat': {{ lat }}, 'lng': {{ lng }}});
                {% endfor %}

                {#            console.log(tripPlanCoordinates);#}
                {#            Рисуем линии по точкам    #}
{#                var tripPath = new google.maps.Polyline({#}
{#                    path: tripPlanCoordinates,#}
{#                    geodesic: true,#}
{#                    strokeColor: '#FF0000',#}
{#                    strokeOpacity: 1.0,#}
{#                    strokeWeight: 2#}
{#                });#}
{##}
{#                tripPath.setMap(map);#}

                {# Пробуем по клику на маркер вывести окошко. Значения этой переменной применяются в цикле выше для каждого маркера #}
                var infowindow = new google.maps.InfoWindow({
                    content: "Toytota Harrier B2323N"
                });

                {# Далее идут настройки и отображение анимационного круга показывающего путь по точкам #}
                {#                // Define the symbol, using one of the predefined paths ('CIRCLE')#}
                {#                // supplied by the Google Maps JavaScript API.#}
                {#                var lineSymbol = {#}
                {#                    path: google.maps.SymbolPath.CIRCLE,#}
                {#                    scale: 8,#}
                {#                    strokeColor: '#00c21a',#}
                {#                    strokeOpacity: 1.0,#}
                {#                    strokeWeight: 3#}
                {#                };#}
                {##}
                {#                // Create the polyline and add the symbol to it via the 'icons' property.#}
                {#                var line = new google.maps.Polyline({#}
                {#                    path: tripPlanCoordinates,#}
                {#                    strokeColor: '#FF0000',#}
                {#                    icons: [{#}
                {#                        icon: lineSymbol,#}
                {#                        offset: '100%'#}
                {#                    }],#}
                {#                    map: map#}
                {#                });#}
                {##}
                {#                animateCircle(line);#}
                {#            }#}
                {#            // Use the DOM setInterval() function to change the offset of the symbol#}
                {#            // at fixed intervals.#}
                {#            function animateCircle(line) {#}
                {#                var count = 0;#}
                {#                window.setInterval(function() {#}
                {#                    count = (count + 1) % 200;#}
                {##}
                {#                    var icons = line.get('icons');#}
                {#                    icons[0].offset = (count / 2) + '%';#}
                {#                    line.set('icons', icons);#}
                {#                }, 400);#}
                {#            }#}
                {#            google.maps.event.addDomListener(window, 'load', initialize);#}
            }
        </script>
        {#<script>window.onload = initMap();</script>#}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp314JBTVhzQR8XP-pR8GbrxyELGx91j0&callback=initMap"
                async defer></script>

    {% endif %}
{% endblock %}
