{% extends 'base.html' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#button").click(function() {

                    var input_string = $("#forminput").val();
                    $.ajax({
                        url : "{% url 'ajaxexample_json' %}",
                        type : "POST",
                        dataType: "json",
                        data : {
                            client_response : input_string,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        success : function(json) {
                            $('#result').append( '<br>ServerResponse: ' + json.server_response);
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                        }
                    });
                    return false;
            });
        });
</script>
<form method="post" name="example form" >
        {% csrf_token %}
    <label for="forminput">Domain:</label>
    <input name="example" id="forminput" type="text">
    <button id="button" type="button" value="send to server">Send</button>
</form>

<div id="result">
</div>

{% endblock %}