{% extends 'base.html' %}

{% block title %}
Choose App
{% endblock %}

{% block content %}
<h1>Choose App:</h1>
    <ul>
    <li><h4><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;<a href='{% url "licmanager_home" %}'>License Manager</a></h4></li>
    <li><h4><span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp;&nbsp;<a href='{% url "gsm" %}'>Car GSM Tracker</a></h4></li>
    </ul>
{% endblock %}