{% extends 'base.html' %}

{% block title %}
    Add a new license client
{% endblock %}

{% block content %}
    {{ request.method }}
    <form action="{% url 'create_license_client' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
        <script>
        console.log("FORM INVALID")
        </script>
            {% else %}
            {% if request.method == 'POST' %}
            <script>window.self.close();</script>
                {% endif %}
        {% endif %}
        <p><input type="submit" value="Confirm" class="btn btn-primary"/>
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.self.close();">Cancel</button>
        </p>
    </form>
{% endblock %}