{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link rel="icon" href="../../favicon.ico">#}

    <title>{% block title %}{% endblock %} &dash; Administration Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'licensies/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'licensies/custom.css' %}" rel="stylesheet">

    {#    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->#}
    {#    <!--[if lt IE 9]>#}
    {#      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
    {#      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
    {#    <![endif]-->#}
    <script src="{% static 'licensies/jquery.min.js' %}"></script>
    {#  DateTimePicker#}
    {{ form.media }}
    {# / DateTimePicker#}
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Admin Panel</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                {% if user.is_active %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container main-content">
    {% block content %}{% endblock %}
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="{% static 'licensies/jquery.min.js' %}"><\/script>')</script>
<script src="{% static 'licensies/bootstrap.min.js' %}"></script>
</body>
</html>