{#  DateTimePicker#}
{{ form.media }}
{# / DateTimePicker#}
<!-- Modal -->
<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header well well-sm">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Create new license:</h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_license' %}" method="post" class="form-horizontal">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="{{ field.id_for_label }}">{{ field.label }}: </label>
                            <div class="col-lg-7">
                                {% if field.errors %}
                                    <div class="has-error">
                                        {{ field }}
                                    </div>
                                {% else %}
                                    {% if field.name == "license_owner" %}
                                        <div class="input-group">
                                            {{ field }}
                                            <span class="input-group-addon">
                                                <a href="#" onclick="openWindow('addclient');">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="modal-footer">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                {#            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>#}
            </div>
        </div>
    </div>
</div>
<script>
    // Function to open new window containing window_src
    var new_window;
    function openWindow(window_src)
    {
        new_window = window.open(window_src, 'add_client_new_window', 'height=200, width=500, '
                + 'toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, '
                + 'directories=no, status=no');

        var timer = setInterval(checkChild, 500);
        function checkChild() {
            if (new_window.closed) {
                alert("Child window closed");
                clearInterval(timer);
            }
        }
    }

</script>
