<form action="{% url 'create_license' %}" method="post" class="form-horizontal">{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label class="control-label col-sm-4" for="{{ field.id_for_label }}">{{ field.label }}: </label>
            <div class="col-lg-7">
                {% if field.errors %}
                    <div class="has-error">
                        {{ field }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="modal-footer">
        <input type="submit" value="Create" class="btn btn-primary" />
        {% if request.path == '/license_manager/create/' %}
            <a href="{% url 'licmanager_home' %}"><button type="button" class="btn btn-default">Cancel</button></a>
        {% else %}
            <button type="button" class="btn btn-default">Cancel</button>
        {% endif %}
    </div>
</form>
