{%  extends 'base.html' %}

{% block title %}
    Create new license
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            {% include 'licensies/create_license_form.html' %}
        </div>
    </div>
{% endblock %}