<!-- Modal -->
<div class="modal fade" id="modalConfirmation" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'delete_license' pk=object.pk %}" method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ object }}: {{ object.license_owner }}"?</p>
                    <p><input type="submit" value="Confirm" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </p>
                </form>
            </div>
{#            <div class="modal-footer">#}
{#            </div>#}
        </div>

    </div>
</div>

{#Original confirmation form#}
{#<form action="" method="post">{% csrf_token %}#}
{#    <p>Are you sure you want to delete "{{ object }}"?</p>#}
{#    <input type="submit" value="Confirm" />#}
{#</form>#}