{% extends 'licensies/base.html' %}
{% load customfilters %}

{% block title %}
    Eset License Manager
{% endblock %}

{% block content %}
    {# Удаляем из сессии ключ license_created если оно есть. Оно появляется там если успешно создали объект/лицензию #}
    {% if request.session.license_created %}
        <div class="alert alert-dismissible alert-success fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> License was successfully created.
            {#             Функция delete_session Прячем вывод функции в скрытый спан. #}
            {#            Функция написана в качестве кастомного тэга в templatetags/customfilters.py #}
            <span style="display: none">{{ request|delete_session }}</span>
        </div>
    {% elif request.session.license_deleted %}
        <div class="alert alert-dismissible alert-success fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> License was successfully deleted.
            <span style="display: none">{{ request|delete_session }}</span>
        </div>
    {% endif %}

    <script>
        function get_modal_delete(param) {
            $("#modalConfirmation").remove();
            {#            console.log(param);#}
            $.get("{% url 'licmanager_home' %}delete/" + param + "/", function (data) {
                $("body").append(data);
                {#                  alert( data );#}
                $("#modalConfirmation").modal();
            });
        }

        function get_modal_create() {
            {#            $("#modalConfirmation").remove();#}
            {#            console.log(param);#}
            $.get( "{% url 'create_license_modal' %}", function( data ) {
                $("body").append( data );
                {#                  alert( data );#}
                $("#createModal").modal();
            });
        }
    </script>

    <h1>List of licenses:</h1>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>License ID</th>
            <th>Password</th>
            <th>License owner</th>
            <th>Valid from</th>
            <th>Valid till</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for license in licenses_list %}
            <tr>
                <td id="license_id">{{ license.license_id }}</td>
                <td>{{ license.license_password }}</td>
                <td>{{ license.license_owner }}</td>
                <td>{{ license.valid_from }}</td>
                <td>{{ license.valid_till }}</td>
                <td><a href="#" id="delete" onclick="get_modal_delete({{ license.pk }})">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginator.num_pages > 1 %}
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li><a href="{% url 'licmanager_home' %}page/{{ page_obj.previous_page_number }}/">PREVIOUS</a></li>
            {% endif %}
            <span class="current_page">{{ paginator.number }}</span>
            {% if page_obj.has_next %}
                <li><a href="{% url 'licmanager_home' %}page/{{ page_obj.next_page_number }}/">NEXT</a></li>
            {% endif %}
        </ul>
    {% endif %}
    <div><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createModal" onclick="get_modal_create()">
        Create License</a>
        <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-placement="top" data-toggle="popover" data-trigger="click" data-content="http://updatenod32.dyndns.org/update">Show server</a></div>
    <script>
    $(function () {
  $('[data-toggle="popover"]').popover()
})
    </script>
{% endblock %}
